.row
  %label{for: field.name} #{field.label}
  %input{name: "#{field.name}_day"}
  %input{name: "#{field.name}_month"}
  %input{name: "#{field.name}_year"}
  %input{name: "#{field.name}_unkown", type: "checkbox"}
  %input{name: "#{field.name}_estimate", type: "checkbox"}
